<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table>
  <thead>
    <tr>
      <th colspan="1">subscribe</th>
      <th colspan="1">openid</th>
      <th colspan="1">nickname</th>
      <th colspan="1">sex</th>
      <th colspan="1">language</th>
      <th colspan="1">city</th>
      <th colspan="1">province</th>
      <th colspan="1">country</th>
      <th colspan="1">headimgurl</th>
      <th colspan="1">subscribe_time</th>
      <th colspan="1">unionid</th>
      <th colspan="1">remark</th>
      <th colspan="4">actions</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.subscribe %></td>
        <td><%= user.openid %></td>
        <td><%= user.nickname %></td>
        <td><%= user.sex %></td>
        <td><%= user.language %></td>
        <td><%= user.city %></td>
        <td><%= user.province %></td>
        <td><%= user.country %></td>
        <td><%= user.headimgurl %></td>
        <td><%= user.subscribe_time %></td>
        <td><%= user.unionid %></td>
        <td><%= user.remark %></td>

        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to 'New', new_user_path %></td>
      </tr>
    <% end %>
  </tbody>
</table>

