<%= form_for [@user, @album] do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="small-12 columns">
      <label>标题
        <%= f.text_field :name %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <label>描述
        <%= f.text_field :desc %>
      </label>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <ul class="small-block-grid-3">
        <% @album.images.each do |image| %>
          <li>
            <% src =  image.src.blank? ? image.pic_url : image.src %>
            <img src="<%= src %>">
          </li>
        <% end %>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns">
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
