<div id="fullpage" class="text-center">
  <% @album.images.each do |image| %>
    <% src =  image.src.blank? ? image.pic_url : image.src %>
    <div class="section"><img src="<%= src %>"></div>
  <% end %>
</div>

<div class="album arrow-wrapper animated fadeOutUp">
  <p class="arrow"></p>
</div>

<div class="album menus">
  <div class="menu">
    <a id="tpl" href="#" class="btn">模板</a>
  </div>
  <div class="menu">
    <a id="music" href="#" class="btn">音乐</a>
  </div>
  <div class="menu">
    <a id="pics" href="#" class="btn">相册</a>
  </div>
  <div class="menu">
    <a id="title" href="#" class="btn">标题</a>
  </div>
</div>

<div class="select-layer">
  <div class="title-bar">
    <h1 class="title"></h1>
    <span class="cancel">X</span>
  </div>
  <div class="listWrapper">
    <div class="tpl hide">
      <h1>模板</h1>
    </div>
    <div class="music hide">
      <% @songs.each_with_index do |song, i| %>
        <div class="row">
          <div class="small-1 columns"><%= i %><input type="hidden" value=<%= song.src %> /></div>
          <div class="small-9 columns"><%= "#{song.singer} #{song.name}" %></div>
          <div class="small-2 columns">
            <div class="loading">
              <%= image_tag "loading-spinning-bubbles.svg", size: "32x32" %>
            </div>
            <a href="#" class="play">确定</a>
          </div>
        </div>
        <hr/>
      <% end %>
    </div>
    <div class="pics hide ">
      <h1>相册</h1>
    </div>
    <div class="title hide">
      <h1>标题</h1>
    </div>
  </div>
</div>

<div class="music-icon"></div>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', user_albums_path(@album.user) %>
