<div id="fullpage" class="text-center">
  <% @album.images.each do |image| %>
    <% src =  image.src.blank? ? image.pic_url : image.src %>
    <div class="section"><img src="<%= src %>"></div>
  <% end %>
</div>

<div class="album arrow-wrapper animated fadeOutUp">
  <p class="arrow"></p>
</div>

<div class="album menus">
  <div class="menu">
    <a id="tpl" href="#" class="btn" data-title="更换模板">模板</a>
  </div>
  <div class="menu">
    <a id="music" href="#" class="btn" data-title="更换音乐">音乐</a>
  </div>
  <div class="menu">
    <a id="pics" href="#" class="btn" data-title="管理相册">相册</a>
  </div>
  <div class="menu">
    <a id="title" href="#" class="btn" data-title="修改标题">标题</a>
  </div>
</div>

<div class="select-layer">
  <div class="title-bar">
    <h3 class="title"></h3>
    <span class="cancel">X</span>
  </div>
  <div class="listWrapper">
    <div class="tpl hide">
      <h2>模板</h2>
    </div>
    <div class="music hide">
      <div class="music-tab">
        <ul class="li_style sub-nav">
          <li class="music-all" class="active">
            <a class="a-style" href="#">所有</a>
          </li>
          <li class="music-love">
            <a class="a-style" href="#">爱情</a>
          </li>
          <li class="music-fashion">
            <a class="a-style" href="#">流行</a>
          </li>
          <li class="music-pure">
            <a class="a-style" href="#">纯音乐</a>
          </li>

        </ul>
      </div>
      <div class="music-category music-category-all ">
        <% num = 0
          @songs.each_with_index do |song, i|
           num += 1 %>
          <div class="row" data-song-id="<%= song.id %>" data-song-src="<%= song.src %>">
            <div class="small-12 columns">
              <%= "#{num} #{song.singer} #{song.name}" %>
              <div class="indicator"></div>
              <a href="#" class="button tiny pick">使用</a>
            </div>
          </div>
        <% end %>
      </div>
      <div class="music-category music-category-love hide">
      <% num = 0
         @songs.each_with_index do |song, i|
           if song.category == '爱情'
           num += 1 %>
            <div class="row" data-song-id="<%= song.id %>" data-song-src="<%= song.src %>">
              <div class="small-12 columns">
                <%= "#{num} #{song.singer} #{song.name}" %>
                <div class="indicator"></div>
                <a href="#" class="button tiny pick">使用</a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="music-category music-category-fashion hide">
      <% num = 0
         @songs.each_with_index do |song, i|
            if song.category == '流行'
           num += 1 %>
            <div class="row" data-song-id="<%= song.id %>" data-song-src="<%= song.src %>">
              <div class="small-12 columns">
                <%= "#{num} #{song.singer} #{song.name}" %>
                <div class="indicator"></div>
                <a href="#" class="button tiny pick">使用</a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
      <div class="music-category music-category-pure hide">
        <% num = 0
         @songs.each_with_index do |song, i|
           if song.category == '纯音乐'
           num += 1 %>
            <div class="row" data-song-id="<%= song.id %>" data-song-src="<%= song.src %>">
              <div class="small-12 columns">
                <%= "#{num} #{song.singer} #{song.name}" %>
                <div class="indicator"></div>
                <a href="#" class="button tiny pick">使用</a>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="pics hide">
      <ul class="small-block-grid-3">
        <% @album.images.each do |image| %>
          <li>
            <div class="delPhotos">
              <% src =  image.src.blank? ? image.pic_url : image.src %>
              <img data-id="<%= image.id %>" src="<%= src %>">
              <a class="delPhoto" href="#">X</a>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div class="title hide">
      <span class="title-lead">给您的微海报写个标题吧</span>
      <span class="title-default hide">某某某的微海报，很漂亮吧</span>
      <textarea class="title-content" area-invalid="false">某某某的微海报，很漂亮吧</textarea>
      <button type="submit" class="modify-title small">写好标题了</button>
    </div>
  </div>
</div>

<div class="music-icon play" id="music-icon"></div>
<input type="hide" id="albumId" value="<%= @album.id %>" />

<audio id="audio" src="<%= @album.song.src %>" autoplay="autoplay" loop="loop">
  <h1>您的浏览器不支持 audio 标签。</h1>
</audio>

<%= hidden_field_tag(:cfg, "0", data:{appid: @appid, timestamp: @cfg[:timestamp], noncestr: @cfg[:noncestr], signature: @cfg[:signature], url: @cfg[:url], jsapi_ticket: @cfg[:jsapi_ticket]}) %>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', user_albums_path(@album.user) %>
